APP_ID=geoia-backend
PORT=3001
LOG_LEVEL=debug
REQUEST_LIMIT=100kb
SESSION_SECRET=mySecret

PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=geoia-db
PG_USER=geoia
PG_PASSWORD=geoia

GDAL=docker  # 'docker' or 'local'
CRON=@daily

OPENAPI_SPEC=/api/v1/spec
